@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter-SemiBoldItalic.otf);
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter-SemiBold.otf);
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter-Regular.otf);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e1d4c9;
  color: #403f3d;
  font-family: Inter;
  font-style: normal;
}

main {
  display: flex;
  flex-direction: column;
  padding: 20px 40px 40px;
  max-width: 1440px;
  width: 100%;
}

section {
  margin-bottom: 100px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header_container {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1360px;
}

.header-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
  gap: 4px;
}

.burger_icon {
  position: relative;
  display: none;
  flex-direction: column;
  gap: 8px;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #665f55;
}

.burger_icon::before,
.burger_icon::after {
  content: "";
  left: 12px;
  position: absolute;
  width: 17px;
  height: 1px;
  background-color: #403f3d;
  transition: transform 0.4s;
}

.burger_icon::before {
  top: 17px;
}

.burger_icon::after {
  bottom: 16px;
}

.burger_icon--checked::before {
  transform: rotate(-45deg);
  margin-top: 4px;
}

.burger_icon--checked::after {
  transform: rotate(45deg);
  margin-bottom: 4px;
}

.icon_shop-name {
  position: absolute;
  left: 5px;
  top: 14px;
}

.icon_circle {
  border: #b0907a 2px solid;
  border-radius: 20px;
  background-color: #b0907a;
  width: 38px;
  height: 38px;
}

.nav_list {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.nav_item {
  position: relative;
  position: relative;
  color: #403f3d;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.nav_item::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  border-bottom: 2px solid #403f3d;
  bottom: -4px;
  opacity: 0;
  transition: all 0.2s ease-out;
}

.header_menu {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 72px;
  height: 28px;
  color: #403f3d;
}

.header_menu::after {
  position: absolute;
  content: "";
  width: 100%;
  border-bottom: 2px solid #403f3d;
  bottom: -4px;
  opacity: 0;
  transition: all 0.4s ease-out;
}

.menu_title {
  font-weight: 600;
  line-height: 150%;
}

.hero {
  position: relative;
  padding: 100px;
  /* background-image: url("assets/images/hero.png");
  background-size: cover;
  background-position: 0px -29px; */
  border-radius: 40px;
  max-width: 1360px;
  height: 644px;
}

.hero_video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 4rem;
}

.hero_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  max-width: 530px;
  color: #e1d4c9;
}

.hero_title {
  margin: 0;
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}

.title-headword {
  color: #b0907a;
  font-style: italic;
}

.hero_description {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.hero_button {
  width: 200px;
  padding: 20px 78px;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background-color: #e1d4c9;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #403f3d;
  border-color: transparent;
}

.coffee-cup {
  width: 0;
  transition: width 0.2s;
}

.section_title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  text-align: center;
}

.favorite-coffee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: normal;
}

.slider_arrow {
  fill: none;
  stroke: #665f55;
}

.slider_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
}

.slider_button {
  margin-right: 4px;
  margin-left: 4px;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid #665f55;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.slider_name {
  margin: 21px 0 17px;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.slider_price {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.slider_description {
  line-height: 150%;
  text-align: center;
}

.controls {
  display: flex;
  gap: 12px;
}

.control {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background-color: #c1b6ad;
}

.control--active {
  background-color: #665f55;
}

.about_description {
  margin-bottom: 40px;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.about_column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about_images {
  display: flex;
  gap: 40px;
}

.about_image {
  width: 660px;
  height: 590px;
  border-radius: 20px;
  object-fit: none;
  transition: all 0.2s;
  transition: all 0.2s;
}

.about_image-small {
  height: 430px;
}

.mobile_title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}

.mobile_info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile_description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.mobile_buttons {
  display: flex;
  gap: 20px;
}

.mobile_button {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 200px;
  height: 64px;
  border-radius: 100px;
  border-radius: 100px;
  border: 1px solid #665f55;
  background-color: transparent;
  color: #665f55;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button_icon {
  fill: #665f55;
}

@media (hover: hover) {
  .mobile_button:hover {
    background-color: #665f55;
  }

  .mobile_button:hover .button_container {
    color: #e1d4c9;
  }

  .mobile_button:hover .button_icon {
    fill: #e1d4c9;
  }

  .tab:not(.tab--checked):hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #665f55;
    border-color: #665f55;
    color: #e1d4c9;
  }

  .tab:hover .tab_button {
    background-color: #e1d4c9;
  }

  .tab:hover .tab_text {
    color: #e1d4c9;
  }

  .contacts_button:hover {
    background-color: #e1d4c9;
  }

  .contacts_button:hover .contact_icon {
    stroke: #403f3d;
  }

  .contact:hover::after {
    opacity: 1;
  }

  .menu_item:hover {
    transform: scale(0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .menu_load:hover {
    background-color: #665f55;
    border-color: #665f55;
    stroke: #e1d4c9;
  }

  .nav_item:hover::after {
    opacity: 1;
  }

  .header_menu:not(.header_menu--active):hover:after {
    opacity: 1;
  }

  .hero_button:hover {
    gap: 8px;
  }

  .hero_button:hover .coffee-cup {
    width: 20px;
  }

  .slider_button:hover {
    background-color: #665f55;
  }

  .slider_button:hover .slider_arrow {
    stroke: #e1d4c9;
  }

  .about_image:hover {
    transform: scale(0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

.button_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #665f55;
}

.button_hint {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}

.button_name {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.mobile-app {
  display: flex;
  gap: 100px;
  align-items: center;
}

.contacts {
  display: flex;
  max-width: 1360px;
  padding: 100px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color: #665f55;
  border-radius: 40px;
}

.socials {
  display: flex;
  gap: 12px;
}

.contacts_button {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-color: #665f55;
  border: 1px solid #c1b6ad;
  transition: all 0.2s ease-out;
}

.contact_icon {
  fill: none;
  stroke: #e1d4c9;
}

.offer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 530px;
  width: 100%;
}

.offer_slogan {
  color: #e1d4c9;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}

.offer_text {
  color: #b0907a;
  font-style: italic;
}

.contacts_title {
  margin-bottom: 40px;
  color: #e1d4c9;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.contacts_info {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 530px;
  width: 100%;
}

.contact_info {
  color: #e1d4c9;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.contact {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  gap: 8px;
}

.contact::after {
  position: absolute;
  content: "";
  width: 100%;
  border-bottom: 2px solid #e1d4c9;
  bottom: -4px;
  opacity: 0;
  transition: all 0.2s ease-out;
}

/* Menu page */

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.menu_container {
  margin-top: -3px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.title_menu {
  width: 800px;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  text-align: center;
}

.menu_item {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  border: 1px solid #c1b6ad;
  width: 310px;
  height: 507px;
  transition: transform 0.2s;
}

.menu_image {
  border-radius: 40px;
  width: 310px;
  height: 310px;
  object-fit: none;
}

.menu_name {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.menu_info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  height: 176px;
}

.menu_description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.04px;
}

.menu_price {
  position: absolute;
  bottom: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.tabs {
  display: flex;
  gap: 15px;
}

.tab {
  padding: 7px 16px 7px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #c1b6ad;
  background-color: transparent;
  cursor: pointer;
}

.tab--checked {
  background-color: #665f55;
  cursor: auto;
}

.tab--checked .tab_button {
  background-color: #e1d4c9;
}

.tab--checked .tab_text {
  color: #e1d4c9;
}

.tab_button {
  display: flex;
  padding: 7px 7px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #c1b6ad;
  transition: background-color 0.4s;
}

.tab_text {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #403f3d;
  transition: color 0.4s;
}

.menu_load {
  display: none;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #665f55;
  background-color: transparent;
  stroke: #403f3d;
  transition: all 0.4s;
}

.menu_load--shown {
  display: flex;
}

.burger {
  display: flex;
  position: absolute;
  top: 98px;
  right: 0;
  width: 0;
  height: 100vh;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  background-color: #e1d4c9;
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 2;
}

.burger--shown {
  width: 100vw;
}

.disable-scrolling {
  height: 100%;
  overflow: hidden;
}

.menu_cup {
  width: 40px;
  height: 40px;
}

.burger_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 72px;
  height: 28px;
  color: #403f3d;
}

@media (max-width: 1380px) {
  .about_images {
    flex-direction: column;
    align-items: center;
  }

  .mobile-app {
    flex-direction: column;
  }

  .contacts {
    padding: 100px 60px;
    flex-direction: column;
    gap: 85px;
  }
}

@media (max-width: 815px) {
  .about_column {
    width: 100%;
  }

  .about_image {
    width: 100%;
  }

  .title_menu {
    width: auto;
  }
}

@media (max-width: 815px) and (min-width: 491px) {
  .hero {
    padding: 100px 60px;
  }
}

@media (min-width: 769px) {
  .burger {
    display: none;
  }
}

@media (max-width: 720px) {
  .hero_title {
    font-size: 42px;
    line-height: 115%;
  }

  .slider_button {
    display: none;
  }

  .slider {
    justify-content: center;
  }

  .about_image {
    width: 100%;
  }

  .mobile_screens {
    width: 348px;
    height: 348px;
  }
}

@media (max-width: 490px) {
  main {
    padding: 20px 16px;
  }

  .hero {
    padding: 60px 16px;
  }

  .hero_title {
    font-size: 42px;
    line-height: 115%;
  }

  .section_title,
  .mobile_title {
    font-size: 32px;
  }

  .slider_image {
    width: 348px;
    height: 348px;
  }

  .about_description {
    font-size: 32px;
  }

  .mobile_buttons {
    flex-direction: column;
  }

  .contacts {
    padding: 60px 16px;
    gap: 23px;
  }

  .offer {
    gap: 40px;
  }

  .slider_name {
    margin-bottom: 16px;
  }

  .slider_description {
    line-height: 150%;
  }

  .slider_price {
    margin-top: 17px;
  }

  .mobile-app {
    gap: 42px;
  }

  .offer_slogan,
  .offer_text {
    font-size: 32px;
  }

  .tabs {
    gap: 8px;
  }

  .section_title {
    width: auto;
  }

  .title_menu {
    font-size: 32px;
  }
}

/* Modals */

.modal {
  width: 800px;
  border: 1px solid #403f3d;
  border-radius: 40px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.modal_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal_image {
  width: 310px;
  height: 310px;
  border-radius: 40px;
  object-fit: none;
}

.modal_name {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.modal_text {
  /* margin-bottom: 7px; */
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.modal_tabs {
  display: flex;
  gap: 8px;
}

.modal_tab {
  display: flex;
  height: 46px;
  padding: 0 14px 0 7px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #c1b6ad;
  background-color: transparent;
}

.modal_tab-size-value {
  letter-spacing: 1.6px;
}

.modal_tab-header {
  margin-bottom: 8px;
}

.modal_tab-button {
  width: 30px;
  height: 30px;
  display: flex;
  padding: 4px 9px 3px 9px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #403f3d;
}

.modal_tab-size {
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  color: #403f3d;
  letter-spacing: 0.2px;
}

.modal_total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.modal_hint {
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.modal_hint-icon {
  min-width: 16px;
}

.hint_text {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}

.modal_close-button {
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #665f55;
  width: 438px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
