.header_burger {
  display: flex;
  gap: 6px;
}

.nav {
  display: none;
}

.header_menu {
  display: none;
}

.coffee-cup {
  width: 20px;
}

.hero {
  padding: 100px 60px;
  background-position-x: center;
}

.hero_button {
  padding: 20px 65px;
}

.slider_button {
  margin: 0;
}

.slider_name {
  margin: 19px 0 21px;
}

.about_images {
  flex-direction: column;
  align-items: center;
}

.about_image {
  width: 688px;
}

.about_image:not(.tablet-image) {
  display: none;
}

.mobile-app {
  flex-direction: column;
}

.contacts {
  padding: 100px 60px;
  flex-direction: column;
  gap: 85px;
}

.offer {
  max-width: none;
}

.contacts_info {
  max-width: none;
}

.contact:last-child {
  margin-bottom: 5px;
}
