.car-track {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-bottom: dotted white;
    height: 80px;
    padding-right: 70px;
}

.car_controls,
.engine_controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.car_name {
    font-size: 20px;
    color: rgb(250, 255, 149);
}

.engine_button {
    width: 30px;
    border: 1px solid rgb(0, 165, 0);
    border-radius: 10px;
    background-color: transparent;
    color: rgb(0, 165, 0);
    font-size: 20px;
    cursor: pointer;
}

.engine_button:disabled {
    border-color: #666;
    color: #666;
    cursor: default;
}

.engine_button:active {
    box-shadow: 1px 1px #666;
    transform: translateY(1px);
}

.car-road {
    position: relative;
    height: 100%;
    width: calc(100% - 80px);
    align-self: flex-end;
}

.car {
    position: absolute;
    bottom: 0;
    width: 70px;
    height: 53px;
    background-color: red;
    mask: url(../../../assets/car.svg) no-repeat;
    z-index: 1;
}

.flag {
    position: absolute;
    bottom: 0;
    right: 50px;
    width: 70px;
    height: 53px;
    background-color: red;
    mask: url(../../../assets/flag.svg) no-repeat;
}
