.start-screen {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
}

.start_header {
    font-size: 35px;
    font-weight: 700;
    align-self: center;
    color: #73c5bd;
}

.start_description {
    white-space: break-spaces;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: justify;
}

.start_greeting {
    font-size: 25px;
    font-weight: 600;
    align-self: center;
    color: #73c5bd;
}
