.hints {
    display: flex;
    gap: 15px;
    flex-direction: column;
    position: relative;
}

.play-button {
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: transparent;
    align-self: center;
    cursor: pointer;
}

.play-button--hidden {
    display: none;
}
