.button {
    padding: 5px;
    width: fit-content;
    background-color: bisque;
    border-radius: 10px;
    font-weight: 600;
}

.button--green {
    background-color: rgb(105, 230, 128);
}

.button--blue {
    background-color: rgb(105, 222, 230);
}

.button--m {
    width: 100px;
}

.button--l {
    width: 150px;
}

.button:disabled {
    background-color: dimgrey;
    color: rgb(170, 170, 170);
}
