.main-screen {
    display: none;
    animation: fadeOut 0.5s ease-out;
}

.main-screen--shown {
    display: block;
    animation: fadeIn 0.5s ease-in;
}

.main_header {
    padding: 15px;
    display: flex;
    justify-content: end;
}
