.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 10px 10px 5px #888888;
}

.modal--hidden {
    display: none;
}

.modal_form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal_error {
    display: none;
    width: 100%;
    padding: 5px;
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 5px;
    box-sizing: border-box;
}

.modal_error--shown {
    display: block;
}
