.footer {
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    gap: 20px;
}

.footer_link {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.footer_logo {
    width: 60px;
}

@media (max-width: 500px) {
    .footer {
        gap: 5px;
    }
}
