@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import './reset.css';

body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    font-family: Nunito;
    position: relative;
    background-color: rgb(246 246 246);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        display: block;
        opacity: 1;
    }

    99% {
        display: block;
        opacity: 0;
    }

    100% {
        display: none;
        opacity: 0;
    }
}
