.game-page {
    display: none;
    flex-direction: column;
    gap: 15px;
    font-size: 24px;
}

.game-page--shown {
    display: flex;
}

.source-block {
    padding: 7px 14px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.result-field {
    padding: 7px;
    width: 750px;
    min-height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    align-self: center;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.translation-hint {
    display: block;
    padding: 10px;
    border: 2px dashed #3f3f3f;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    text-wrap: wrap;
    font-size: 20px;
}

.translation-hint--hidden {
    display: none;
}

.game-page--background-hidden .card {
    background-image: unset !important;
}
