.game-page {
    display: none;
    flex-direction: column;
    gap: 100px;
}

.game-page--shown {
    display: flex;
}

.source-block {
    padding: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.result-block {
    padding: 7px;
    display: flex;
    align-items: flex-start;
    width: 500px;
    min-height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.card {
    padding: 7px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
    text-align: center;
    background-color: #c2ede9;
}

.card:hover {
    color: white;
    background-color: #73c5bd;
}
