.users {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.users_list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
