.users {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.user_name {
    width: 100%;
    cursor: pointer;
}

.users_list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user_status--active {
    mask: url(../../../../assets/flower-status.svg) no-repeat;
    background-color: rgb(0, 228, 137);
    width: 24px;
    height: 20px;
}

.user_status--inactive {
    mask: url(../../../../assets/flower-status.svg) no-repeat;
    background-color: rgb(211, 21, 0);
    width: 24px;
    height: 20px;
}
