.card {
    padding: 5px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
    text-align: center;
    background-color: #c2ede9;
}

.card:hover {
    color: white;
    background-color: #73c5bd;
}

.card:active {
    color: white;
    background-color: #4c8d86;
}

.card--correct {
    outline-offset: -4px;
    outline: 3px ridge rgb(55 255 33 / 80%);
}

.card--incorrect {
    outline-offset: -4px;
    outline: 3px ridge rgb(255 101 101 / 80%);
}

.card--inactive {
    pointer-events: none;
    outline: none;
}
