.card {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-fill-color: #000000;
    -webkit-text-stroke: 1px #fff;
    /* -webkit-text-stroke: 1px #30b626; */
    padding: 0 6px 0 10px;
    margin-left: -8px;
    margin-right: -8px;
    font-size: 26px;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #c2ede9;
    position: relative;
    mask:
        radial-gradient(circle at 0 50%, rgba(0, 0, 0, 0) 16px, black 16px),
        linear-gradient(rgba(0, 0, 0, 0) 0px, black 0px) 101% / 16px 100%,
        radial-gradient(circle at calc(100% - 16px) 50%, rgba(0, 0, 0, 1) 16px, rgba(0, 0, 0, 0) 16px);
    mask-composite: subtract;
    mask-repeat: no-repeat;
}

.card--first {
    mask:
        linear-gradient(rgba(0, 0, 0, 0) 0px, rgb(255, 255, 255) 0px) left/ calc(100% - 16px) 100%,
        radial-gradient(circle at calc(100% - 16px) 50%, rgba(0, 0, 0, 1) 16px, rgba(0, 0, 0, 0) 16px);
    mask-composite: add;
    mask-repeat: no-repeat;
}
.card--last {
    mask: radial-gradient(circle at 0 50%, rgba(0, 0, 0, 0) 16px, black 16px);
    mask-composite: subtract;
    mask-repeat: no-repeat;
}

.card:hover {
    color: white;
    background-color: #73c5bd;
}

.card:active {
    color: white;
    background-color: #4c8d86;
}

.card--correct {
    -webkit-text-fill-color: green;
}

.card--incorrect {
    -webkit-text-fill-color: red;
}

.card--inactive {
    pointer-events: none;
    outline: none;
}
