@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import './reset.css';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    font-family: Nunito;
    position: relative;
    background-color: rgb(216, 214, 214);
    background: url(./assets/images/background.jpg);
}

.button {
    width: 90px;
    height: 50px;
    align-self: center;
    border: none;
    outline: none;
    background: #3f3f3f;
    color: #fff;
    font-size: 18px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s;
}

.button:hover {
    transform: scale(0.95);
}
