.message--outer {
    display: flex;
    position: relative;
    gap: 5px;
}

.message {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    word-wrap: break-word;
    box-sizing: border-box;
}

.message_inner {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 80%;
}

.message--from {
    justify-content: flex-start;
}

.message--to {
    justify-content: flex-end;
}

.message--to + .message--from.message--unread,
.message--from:not(.message--unread) + .message--from.message--unread {
    margin-top: 22px;
}

.message--to + .message--from.message--unread:before,
.message--from:not(.message--unread) + .message--from.message--unread:before {
    content: '';
    position: absolute;
    background-color: black;
    width: 100%;
    height: 1px;
    top: -6px;
    left: 0;
}

.message--to + .message--from.message--unread::after,
.message--from:not(.message--unread) + .message--from.message--unread:after {
    content: '\25BC New messages';
    position: absolute;
    width: 20%;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 14px;
}

.message-buttons {
    display: flex;
    flex-direction: column;
}

.message-button {
    cursor: pointer;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
    border: none;
    padding: 2px;
}

.message-button--edit {
    background-image: url('../../../../assets/edit.svg');
}

.message-button--delete {
    background-image: url('../../../../assets/cross.svg');
}

.message_sending-time,
.message_sender-name,
.message_delivery-status,
.message_edit-status {
    font-size: 12px;
}

.message_top-info,
.message_bottom-info {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
